@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: white;
    background-color: #000;
    font: roboto;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dsmetaLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmetaLogoContainer img {
    width: 235px;
}

.dsmetaLogoContainer h1 {
    margin-top: 15px;
    font-size: 24px;

}

.dsmetaLogoContainer p {
    font-size: 14px;
    font-weight: 300;
}

.dsmetaCard {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmetaContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#sales {
    padding: 40px 10px;
}

.dsmetaSalesTitle {
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.demetaFormControlContainer {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmetaFormControl {
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    width: 100%;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
}

.dsmetaTableSales {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmetaTableSales thead {
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 700;
}

.dsmetaTableSales tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
}

.dsmetaTableSales tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.dsmetaTableSales tbody tr:hover > td {
    background-color: #384459;
}

.dsmetaTableSales tbody tr:nth-child(odd) {
    background-color: #242c3b;
}

.dsmetaRedBtnContainer {
    display: flex;
    justify-content: center;
}

.dsmetaRedBtn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmetaRedBtn img {
    width: 19px;
}

.show576 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .dsmetaCard {
        padding: 35px;
    }

    .dsmetaTableSales tbody tr {
        height: 55px;
    }    

    .dsmetaTableSales tbody {
        font-size: 18px;
    }
}

.show992 {
    display: none;
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}